.offerSection {
  background-color: Lavender;
}

.offerHeading {
  font-size: 36px;
  font-weight: 700;
}

.boxes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}
