.offerSection {
  padding: 50px 0;
  background-color: Lavender;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.offerHeading {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 30px;
}

.boxes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}
