* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

section h2 {
  margin: 0 0 40px 0;
}

section ul {
  margin: 0;
  padding: 0;
}

section {
  padding: 40px 0;
}
